In [2]:
df = pd.read_csv('project_dataset.csv')
print(df.columns.tolist())

['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'REF_AREA', 'Reference area', 'FREQ', 'Frequency of observation', 'MEASURE', 'Measure', 'EROSION_LEVEL', 'Erosion risk level', 'WATER_TYPE', 'Water type', 'NUTRIENTS', 'Nutrients', 'UNIT_MEASURE', 'Unit of measure', 'TIME_PERIOD', 'Time period', 'OBS_VALUE', 'Observation value', 'DECIMALS', 'Decimals', 'OBS_STATUS', 'Observation status', 'UNIT_MULT', 'Unit multiplier', 'BASE_PER', 'Base period']

In [4]:
# Define the country mapping dictionary
country_mapping = {
    "Czechia": "Czech Republic",
    "Slovak Republic": "Slovakia",
    "Korea": "South Korea",
    "TÃ¼rkiye": "Turkey",
    "China (Peopleâ€™s Republic of)": "China",
    "Viet Nam": "Vietnam",
    "European Union (28 countries)": "European Union",
    "European Union (27 countries)": "European Union",
    "European Union (27 countries from 01/02/2020)": "European Union",
    "Flemish Region": "Belgium (Flemish Region)",
    "Wallonia": "Belgium (Walloon Region)",
    "United States": "United States of America",
    "Czech Republic": "Czechia"
}

# Apply the mapping to the 'Reference area' column
df['Reference area'] = df['Reference area'].replace(country_mapping)

In [6]:
# checking columns with no value
print(df.isnull().sum())

REF_AREA                  0
Reference area            0
MEASURE                   0
Measure                   0
EROSION_LEVEL             0
Erosion risk level        0
WATER_TYPE                0
Water type                0
NUTRIENTS                 0
Nutrients                 0
UNIT_MEASURE              0
Unit of measure           0
TIME_PERIOD               0
OBS_VALUE                 0
OBS_STATUS                0
Observation status        0
UNIT_MULT                 0
BASE_PER              53103
dtype: int64

In [8]:
df.replace('_Z', 'N/A', inplace=True)
df['BASE_PER'].fillna('NULL', inplace=True)
df.replace('Not applicable', 'N/A', inplace=True)
# Fix encoding in 'Reference area' if necessary

C:\Users\USER\AppData\Local\Temp\ipykernel_13700\1414147022.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['BASE_PER'].fillna('NULL', inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_13700\1414147022.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'NULL' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['BASE_PER'].fillna('NULL', inplace=True)

In [10]:
# Save the DataFrame to a CSV file
df.to_csv('processed_project_dataset.csv', index=False)